.container {
  /* height: 100%; */
  overflow: hidden;
  /* background-image: url("/background.png"); */
  background-color: transparent;
  /* background-repeat: no-repeat; Do not repeat the image */
  /* background-size: cover; Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-right: 60px;
  /* padding: 20px 10%; */
}

.icons a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 16px;
  color: var(--baseText);
  text-decoration: none;
  cursor: pointer;
}

.icons li {
  display: inline-block;
  padding: 0 0 0 20px;
}

.icons li a {
  transition: all 0.3s ease 0s;
}

/* .icons li a:hover {
  color: green;
} */

/* .icons {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
} */

/* .title {
  color: #edf0f1;
} */

/* .button {
  padding: 9px 25px;
  background-color: transparent;
  border-color: gray;
  color: #edf0f1;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px;
  font-size: 1.2rem;
} */
@media (min-width: 360px) and (max-width: 462px) {
  .container {
    display: flex;
    /* place-items: center; */
    padding-left: 40px;
  }
}
